/* GENERAL */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

ul{
  list-style-type: none;
}

/* /GENERAL */

/* /header */

header{
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #3161e0;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo{
  background-image: url("../img/logo.svg");
  width: 120px;
  height: 30px;
  background-size: cover;

}
header .container .menu{
  flex-basis: 60%;
  
}
.menu ul{
  display: flex;
  justify-content: space-between;
  
  
}

.menu ul li a{
  text-decoration: none;
  color: white;
}
.menu ul li a:hover{
  text-decoration: underline;
  color: rgb(200, 201, 209);
}

header .container .button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  background-color: #ffffff;
  color: #23272a;
  border-radius: 25px;
}



/* /header */

/* jumbotron */

.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/jumbo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  height: 550px;

}
.jumbotron .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 800px;
  height: 350px;
  
}

.jumbotron .content h1, p , .btn-link{
  padding: 15px;
  color: white;
}

.jumbotron .content .btn-link{
  display: flex;
  justify-content: space-around;
}

.btn-link .button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 230px;
  border-radius: 25px;
  margin: 0 20px;
}

.fa-solid {
  padding-right: 10px;
}

.btn-link .button.white{
  background-color: #ffffff;
  color: #23272a;
}
.btn-link .button.black{
  background-color: #23272a;
}

/* /jumbotron */